html,
body {
	height: 100%;
}

/* hide default cursor */
.cursor-hide {
	cursor: none !important;
}

/* dot cursor and shadow */
.cursor-dot,
.cursor-shadow {
	position: fixed;
	z-index: 1000;
	pointer-events: none;
	left: -100px;
	top: -100px;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cursor-dot {
	width: 5px;
	height: 5px;
}
.cursor-shadow {
	width: 100px;
	height: 100px;
	opacity: .4;
	-webkit-transition: width 1s, height 1s, opacity 1s, background 1s;
	transition: width 1s, height 1s, opacity 1s, background 1s;
}

/* cursor in motion */
.cursor-shadow-move {
	width: 150px !important;
	height: 150px !important;
	opacity: .2 !important;
}

/* hover over text */
.cursor-dot-hover-text,
.cursor-dot-hover-text.cursor-dot-click {
	width: 1px;
	height: 32px;
	border-radius: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.cursor-dot-hover-text::after {
	content: "";
	position: absolute;
	left: -3px;
	top: 0;
	width: 7px;
	height: 30px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: inherit;
}
.cursor-shadow-hover-text {
	background: transparent !important;
	border-style: solid;
	border-width: 1px;
	opacity: 1;
}
.cursor-shadow-hover-text.cursor-shadow-move {
	opacity: 1 !important;
}
.cursor-shadow-hover-text.cursor-shadow-click {
	width: 64px;
	height: 64px;
	opacity: 1;
}

/* hover over image */
.cursor-shadow-hover-image {
	background: transparent !important;
	border-style: solid;
	border-width: 1px;
	opacity: 1;
}
.cursor-shadow-hover-image.cursor-shadow-move {
	opacity: 1 !important;
}
.cursor-shadow-hover-image.cursor-shadow-click {
	opacity: 1;
}

/* hover over link */
.cursor-shadow-hover-link {
	width: 200px;
	height: 200px;
	opacity: .1;
}

/* mousedown event */
.cursor-shadow-click {
	width: 50px;
	height: 50px;
	opacity: .6;
	-webkit-transition: width .5s, height .5s, opacity .5s;
	transition: width .5s, height .5s, opacity .5s;
}